.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-align: center;
  padding-top: 5px;
  width: 100%;
  height: 100%;
}

#result-box {
  height: 288px;
  width: 384px;
  background-color: rgb(185, 185, 185, 0.5);
  border-radius: 10px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 384px;
  min-height: 100px;
}

textarea {
  min-width: 384px;
  min-height: 50px;
}

#input-box {
  width: 14vw;
  word-wrap: normal;
  text-align: center;
}